 <!--<table  datatable class="row-border hover"> -->
  <table  datatable="ng"datatable  [dtOptions]="dtOptions" class="table table-hover table-striped table-bordered" cellspacing="0"
  width="100%">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>


      <tr *ngFor="let employee of employeeList">
        <td>{{employee.Firstname}}</td>
        <td>{{employee.Lastname}}</td>
        <td>{{employee.Username}}</td>
        <td>{{employee.Gender}}</td>
        <td>{{employee.Email}}</td>
        
<td> 
  <a class="btn">
   <i class="fa fa-pencil-square-o"></i>
</a>
</td>
      </tr>


    </tbody>

  </table >
